body{
  background: linear-gradient(to right, red, pink);
  backdrop-filter: blur(10px);
  color: white;
  font-family: verdana;
}

#rand{
  font-size: 1.2rem;
  color: blue;
}

input {
    width: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid green;
    color: white;
    font-size: 1.2rem;
}

input:focus{
    width: 100px;
    transition-duration: 2s;
    border-bottom: 2px solid orange;
}

button {
  font-size: 0.9rem;
  background-color: purple;
  border-radius: 8px;
  color: white;
  padding: 10px;
  border: 0px;
  box-shadow: 0 3px 1px rgba(0,0,0,0.1);
}

button:active{
  box-shadow: 0 0px 0px rgba(0,0,0,0);
  transform: translateY(2px);
}
