body{
  background: linear-gradient(to right, red, pink);
  backdrop-filter: blur(10px);
  color: white;
  font-family: verdana;
}

#rand{
  font-size: 1.2rem;
  color: blue;
}

input {
    transition-duration: 2s;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #1890ff;
    color: white;
    font-size: 1.2rem;
}

input:focus{
    transition-duration: 2s;
    border-bottom: 2px solid orange;
}
